@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
/* _functions.scss */
/*
* Respond To
* Copied from UtilityBelt- https://github.com/dmtintner/UtilityBelt
*
* Example:
* @include respondTo(smartphone){ display: none; }
*
*/
/* line 12, scss/index.scss */
BODY {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.2em;
  color: #212121;
  margin: 0;
  padding: 0;
}
@media (max-width: 1174px) {
  /* line 12, scss/index.scss */
  BODY {
    font-size: 80%;
  }
}
@media (min-width: 1940px) {
  /* line 12, scss/index.scss */
  BODY {
    font-size: 135%;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  /* line 12, scss/index.scss */
  BODY {
    font-size: 70%;
  }
}
@media (max-width: 480px) {
  /* line 12, scss/index.scss */
  BODY {
    font-size: 50%;
  }
}

/* line 26, scss/index.scss */
DIV {
  margin: 0;
  padding: 0;
}

/* line 30, scss/index.scss */
A {
  text-decoration: none;
  color: black;
}

/* line 35, scss/index.scss */
H1, H2, H3, H4, H5, H6 {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

/* line 43, scss/index.scss */
H1 {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 4px;
}

/* line 44, scss/index.scss */
H2 {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 4px;
}

/* line 45, scss/index.scss */
H3 {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 3px;
}

/* line 46, scss/index.scss */
H4 {
  font-size: 26px;
  line-height: 34px;
  letter-spacing: 3px;
}

/* line 47, scss/index.scss */
H5 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2px;
}

/* line 48, scss/index.scss */
H6 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  display: inline-block;
}

/* line 50, scss/index.scss */
.clear-fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}

/* IE Mac/Win fixes below */
/* line 59, scss/index.scss */
.clear-fix {
  display: inline-block;
  /* For IE/Mac */
}

/* Hides from IE/Mac \*/
/* line 63, scss/index.scss */
* html .clear-fix {
  height: 1%;
}

/* line 64, scss/index.scss */
.clear-fix {
  display: block;
}

/* End hide from IE/Mac */
/* line 67, scss/index.scss */
.float-right {
  float: right;
}

/* line 71, scss/index.scss */
.float-left {
  float: left;
}

/* line 75, scss/index.scss */
.aligncenter {
  text-align: center;
}

/* line 80, scss/index.scss */
.alignleft {
  text-align: left;
}

/* line 84, scss/index.scss */
.hidden {
  opacity: 0;
  display: none;
}

/* line 89, scss/index.scss */
.ui-button {
  color: #fff;
  background: rgba(0, 0, 0, 0);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  line-height: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  margin: 0;
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
}
/* line 107, scss/index.scss */
.ui-button:hover {
  -webkit-box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 2px;
  -moz-box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 2px;
  box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 2px;
  border: 2px solid white;
}
/* line 112, scss/index.scss */
.ui-button:active {
  -webkit-box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 3px;
  -moz-box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 3px;
  box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 3px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}

/* line 118, scss/index.scss */
#content-area {
  height: auto;
  margin: 0;
  margin-left: 60px;
  padding: 0px;
  position: relative;
  width: auto;
  display: block;
  color: #212121;
}
/* line 128, scss/index.scss */
#content-area .intro-word-con {
  margin-top: 20%;
  margin-left: 30%;
}
/* line 133, scss/index.scss */
#content-area .intro-word {
  padding: 20px 30px;
  font-size: 3em;
  line-height: 1em;
  background: #212121;
  color: #fff;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
  margin-bottom: 15%;
  white-space: nowrap;
}
@media (max-width: 1174px) {
  /* line 148, scss/index.scss */
  #content-area .secondary {
    float: none;
    display: block;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  /* line 148, scss/index.scss */
  #content-area .secondary {
    float: none;
    display: block;
  }
}
@media (max-width: 480px) {
  /* line 148, scss/index.scss */
  #content-area .secondary {
    float: none;
    display: block;
  }
}
/* line 167, scss/index.scss */
#content-area .fluid-row {
  margin: 0;
  position: relative;
  padding: 22px 33px;
  display: block;
  width: auto;
  z-index: 10;
}
/* line 175, scss/index.scss */
#content-area .fluid-row.dark {
  color: #fff;
  background: #212121;
}
/* line 180, scss/index.scss */
#content-area .fluid-row.width-90 {
  width: -webkit-calc(80%);
  width: -moz-calc(80%);
  width: -o-calc(80%);
  width: calc(80%);
  display: inline-block;
  vertical-align: top;
}
/* line 186, scss/index.scss */
#content-area .fluid-row.width-50 {
  width: -webkit-calc(49.5% - 30px - 66px);
  width: -moz-calc(49.5% - 30px - 66px);
  width: -o-calc(49.5% - 30px - 66px);
  width: calc(49.5% - 30px - 66px);
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 1174px) {
  /* line 186, scss/index.scss */
  #content-area .fluid-row.width-50 {
    width: auto;
    display: block;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  /* line 186, scss/index.scss */
  #content-area .fluid-row.width-50 {
    width: auto;
    display: block;
  }
}
@media (max-width: 480px) {
  /* line 186, scss/index.scss */
  #content-area .fluid-row.width-50 {
    width: auto;
    display: block;
  }
}
/* line 209, scss/index.scss */
#content-area p.number {
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 500;
  padding: 0;
  margin: 5px 0px;
}
/* line 217, scss/index.scss */
#content-area p.desc {
  font-size: 1.6em;
  line-height: 1em;
  font-weight: 300;
  padding: 0;
  margin: 5px 0px;
}
/* line 225, scss/index.scss */
#content-area p.c-right {
  font-size: 0.75em;
  line-height: 1.3em;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0;
  margin: 5px 0px;
}
/* line 235, scss/index.scss */
#content-area #logo-banner {
  width: 50%;
  min-width: 200px;
  max-width: 500px;
  margin-top: 5%;
}
/* line 242, scss/index.scss */
#content-area .scale-img {
  max-width: 90%;
  height: auto;
  margin: 2% 2%;
  display: inline-block;
}

/* line 250, scss/index.scss */
#main-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 60px;
  background: #212121;
  color: #fff;
  z-index: 1000;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px;
  -moz-box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px;
}
/* line 264, scss/index.scss */
#main-nav .faux-row {
  padding: 10px 20px;
  display: block;
}
/* line 269, scss/index.scss */
#main-nav #login-area {
  padding: 10px;
  width: 260px;
  height: auto;
  background: #212121;
  margin-left: 63px;
  margin-top: -128px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
}
/* line 278, scss/index.scss */
#main-nav #login-area h5 {
  padding: 5px 10px;
}
/* line 284, scss/index.scss */
#main-nav [data-menu] {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 287, scss/index.scss */
#main-nav [data-menu].hidden {
  oapcity: 0;
}
/* line 292, scss/index.scss */
#main-nav input[type="text"], #main-nav input[type="password"] {
  padding: 10px 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
}
/* line 301, scss/index.scss */
#main-nav #logo {
  position: relative;
  padding: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
}
/* line 309, scss/index.scss */
#main-nav ul {
  position: relative;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
/* line 316, scss/index.scss */
#main-nav ul li {
  margin: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 0px;
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  margin-bottom: 1px;
  display: block;
}
/* line 324, scss/index.scss */
#main-nav ul li h2 {
  margin: 0px;
  padding: 15px;
  text-align: left;
  font-size: 30px;
  line-height: 30px;
  cursor: pointer;
}
