@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);
/* _functions.scss */
/*
* Respond To
* Copied from UtilityBelt- https://github.com/dmtintner/UtilityBelt
*
* Example:
* @include respondTo(smartphone){ display: none; }
*
*/
/* line 12, scss/index.scss */
BODY {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 100%;
  line-height: 1.2em;
  color: #212121;
  margin: 0;
  padding: 0;
}
@media (min-width: 1274px) {
  /* line 12, scss/index.scss */
  BODY {
    font-size: 100%;
  }
}
@media (min-width: 1940px) {
  /* line 12, scss/index.scss */
  BODY {
    font-size: 135%;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  /* line 12, scss/index.scss */
  BODY {
    font-size: 70%;
  }
}
@media (max-width: 1274px) {
  /* line 12, scss/index.scss */
  BODY {
    font-size: 80%;
  }
}
@media (max-width: 1440px) {
  /* line 12, scss/index.scss */
  BODY {
    font-size: 80%;
  }
}
@media (max-width: 480px) {
  /* line 12, scss/index.scss */
  BODY {
    font-size: 50%;
  }
}

/* line 29, scss/index.scss */
DIV {
  margin: 0;
  padding: 0;
}

/* line 33, scss/index.scss */
A {
  text-decoration: none;
  color: inherit;
}

/* line 38, scss/index.scss */
H1, H2, H3, H4, H5, H6 {
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

/* line 46, scss/index.scss */
H1 {
  font-size: 48px;
  line-height: 58px;
  letter-spacing: 4px;
}

/* line 47, scss/index.scss */
H2 {
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 4px;
}

/* line 48, scss/index.scss */
H3 {
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 3px;
}

/* line 49, scss/index.scss */
H4 {
  font-size: 26px;
  line-height: 34px;
  letter-spacing: 3px;
}

/* line 50, scss/index.scss */
H5 {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 2px;
}

/* line 51, scss/index.scss */
H6 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  display: inline-block;
}

/* line 53, scss/index.scss */
.clear-fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}

/* IE Mac/Win fixes below */
/* line 62, scss/index.scss */
.clear-fix {
  display: inline-block;
  /* For IE/Mac */
}

/* Hides from IE/Mac \*/
/* line 66, scss/index.scss */
* html .clear-fix {
  height: 1%;
}

/* line 67, scss/index.scss */
.clear-fix {
  display: block;
}

/* End hide from IE/Mac */
/* line 70, scss/index.scss */
.float-right {
  float: right;
}

/* line 74, scss/index.scss */
.float-left {
  float: left;
}

/* line 78, scss/index.scss */
.aligncenter {
  text-align: center;
}

/* line 82, scss/index.scss */
.alignright {
  text-align: right;
}

/* line 86, scss/index.scss */
.alignleft {
  text-align: left;
}

/* line 90, scss/index.scss */
.hidden {
  opacity: 0;
  display: none;
}

/* line 95, scss/index.scss */
.ui-button {
  color: #fff;
  background: rgba(34, 34, 34, 0.3);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 11px;
  line-height: 12px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  margin: 0px 5px;
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
}
/* line 113, scss/index.scss */
.ui-button:hover {
  -webkit-box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 2px;
  -moz-box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 2px;
  box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 2px;
  border: 2px solid white;
}
/* line 118, scss/index.scss */
.ui-button:active {
  -webkit-box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 3px;
  -moz-box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 3px;
  box-shadow: rgba(255, 255, 255, 0.6) 0px 0px 3px;
  border: 2px solid rgba(255, 255, 255, 0.5);
}
/* line 123, scss/index.scss */
.ui-button.dark {
  color: #fff;
  background: rgba(34, 34, 34, 0.9);
  border: 2px solid rgba(68, 68, 68, 0.7);
}
/* line 128, scss/index.scss */
.ui-button.dark:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 5px;
  -moz-box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 5px;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 5px;
  border-bottom: 2px solid black;
}
/* line 133, scss/index.scss */
.ui-button.dark:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 0px 2px;
  border-bottom: 2px solid #222222;
}

/* line 140, scss/index.scss */
#content-area {
  height: auto;
  margin: 0;
  margin-left: 60px;
  padding: 0px;
  position: relative;
  width: auto;
  display: block;
  color: #212121;
}
/* line 150, scss/index.scss */
#content-area .intro-word-con {
  margin-top: 20%;
  margin-left: 30%;
}
/* line 155, scss/index.scss */
#content-area .intro-word {
  padding: 20px 30px;
  font-size: 3em;
  line-height: 1em;
  background: #212121;
  color: #fff;
  display: inline-block;
  font-family: 'Quicksand', sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 4px;
  margin-bottom: 15%;
  white-space: nowrap;
}
/* line 170, scss/index.scss */
#content-area .fluid-row {
  margin: 0;
  position: relative;
  padding: 22px 33px;
  display: block;
  width: auto;
  z-index: 10;
}
/* line 178, scss/index.scss */
#content-area .fluid-row.slim {
  padding: 11px 33px;
}
/* line 182, scss/index.scss */
#content-area .fluid-row.dark {
  color: #fff;
  background: #212121;
}
/* line 187, scss/index.scss */
#content-area .fluid-row.width-90 {
  width: -webkit-calc(80%);
  width: -moz-calc(80%);
  width: -o-calc(80%);
  width: calc(80%);
  display: inline-block;
  vertical-align: top;
}
/* line 193, scss/index.scss */
#content-area .fluid-row.width-50 {
  width: -webkit-calc(49% - 96px);
  width: -moz-calc(49% - 96px);
  width: -o-calc(49% - 96px);
  width: calc(49% - 96px);
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 1274px) {
  /* line 193, scss/index.scss */
  #content-area .fluid-row.width-50 {
    width: auto;
    display: block;
  }
}
@media (min-width: 767px) and (max-width: 1024px) {
  /* line 193, scss/index.scss */
  #content-area .fluid-row.width-50 {
    width: auto;
    display: block;
  }
}
@media (max-width: 480px) {
  /* line 193, scss/index.scss */
  #content-area .fluid-row.width-50 {
    width: auto;
    display: block;
  }
}
/* line 216, scss/index.scss */
#content-area p.number {
  font-size: 2.5em;
  line-height: 1em;
  font-weight: 500;
  padding: 0;
  margin: 5px 0px;
}
/* line 224, scss/index.scss */
#content-area p.desc {
  font-size: 1.6em;
  line-height: 1em;
  font-weight: 300;
  padding: 0;
  margin: 5px 0px;
}
/* line 232, scss/index.scss */
#content-area p.c-right {
  font-size: 0.75em;
  line-height: 1.3em;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 0;
  margin: 5px 0px;
}
/* line 242, scss/index.scss */
#content-area #logo-banner {
  width: 50%;
  min-width: 200px;
  max-width: 500px;
  margin-top: 5%;
}
/* line 249, scss/index.scss */
#content-area .scale-img {
  max-width: 90%;
  height: auto;
  margin: 2% 2%;
  display: inline-block;
}

/* line 257, scss/index.scss */
[data-trans-for] {
  cursor: pointer;
}

/* line 261, scss/index.scss */
[data-bad-value="true"] {
  -webkit-box-shadow: red 0px 1px 10px;
  -moz-box-shadow: red 0px 1px 10px;
  box-shadow: red 0px 1px 10px;
  border: 2px solid red;
}

/* line 266, scss/index.scss */
.ui-games-list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* line 271, scss/index.scss */
.ui-games-list li {
  background: #222;
  color: #fff;
  display: block;
  width: auto;
  margin: 10px;
}
/* line 278, scss/index.scss */
.ui-games-list li .team {
  background-repeat: no-repeat;
  background-size: 80%;
  width: 39%;
  display: inline-block;
  vertical-align: middle;
  text-shadow: black 0px 1px 5px;
  cursor: pointer;
}
/* line 288, scss/index.scss */
.ui-games-list li .team h5 {
  font-weight: 400;
}
/* line 292, scss/index.scss */
.ui-games-list li .team h6 {
  font-weight: 400;
}
/* line 296, scss/index.scss */
.ui-games-list li .team.alignleft {
  background-position: center left;
}
/* line 300, scss/index.scss */
.ui-games-list li .team.picked {
  text-shadow: green 0px 2px 7px;
}
/* line 303, scss/index.scss */
.ui-games-list li .team.picked h5 {
  font-weight: 700;
}
/* line 307, scss/index.scss */
.ui-games-list li .team.picked h6 {
  font-weight: 700;
}
/* line 311, scss/index.scss */
.ui-games-list li .team.picked .gradient-left {
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(34, 34, 34, 0.5)), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(left, rgba(34, 34, 34, 0.5) 0%, #222222 100%);
  background-image: -moz-linear-gradient(left, rgba(34, 34, 34, 0.5) 0%, #222222 100%);
  background-image: -o-linear-gradient(left, rgba(34, 34, 34, 0.5) 0%, #222222 100%);
  background-image: linear-gradient(left, rgba(34, 34, 34, 0.5) 0%, #222222 100%);
}
/* line 315, scss/index.scss */
.ui-games-list li .team.picked .gradient-right {
  background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, rgba(34, 34, 34, 0.5)), color-stop(100%, #222222));
  background-image: -webkit-linear-gradient(right, rgba(34, 34, 34, 0.5) 0%, #222222 100%);
  background-image: -moz-linear-gradient(right, rgba(34, 34, 34, 0.5) 0%, #222222 100%);
  background-image: -o-linear-gradient(right, rgba(34, 34, 34, 0.5) 0%, #222222 100%);
  background-image: linear-gradient(right, rgba(34, 34, 34, 0.5) 0%, #222222 100%);
}
/* line 320, scss/index.scss */
.ui-games-list li .team .gradient-left {
  padding: 8%;
  width: auto;
  display: block;
  height: 80%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(34, 34, 34, 0.7)), color-stop(80%, #222222));
  background-image: -webkit-linear-gradient(left, rgba(34, 34, 34, 0.7) 0%, #222222 80%);
  background-image: -moz-linear-gradient(left, rgba(34, 34, 34, 0.7) 0%, #222222 80%);
  background-image: -o-linear-gradient(left, rgba(34, 34, 34, 0.7) 0%, #222222 80%);
  background-image: linear-gradient(left, rgba(34, 34, 34, 0.7) 0%, #222222 80%);
  white-space: nowrap;
}
/* line 328, scss/index.scss */
.ui-games-list li .team .gradient-left:hover {
  text-shadow: yellow 0px 1px 5px;
}
/* line 333, scss/index.scss */
.ui-games-list li .team.alignright {
  background-position: center right;
}
/* line 337, scss/index.scss */
.ui-games-list li .team .gradient-right {
  padding: 8%;
  width: auto;
  display: block;
  height: 80%;
  background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, rgba(34, 34, 34, 0.7)), color-stop(80%, #222222));
  background-image: -webkit-linear-gradient(right, rgba(34, 34, 34, 0.7) 0%, #222222 80%);
  background-image: -moz-linear-gradient(right, rgba(34, 34, 34, 0.7) 0%, #222222 80%);
  background-image: -o-linear-gradient(right, rgba(34, 34, 34, 0.7) 0%, #222222 80%);
  background-image: linear-gradient(right, rgba(34, 34, 34, 0.7) 0%, #222222 80%);
  white-space: nowrap;
}
/* line 345, scss/index.scss */
.ui-games-list li .team .gradient-right:hover {
  text-shadow: yellow 0px 1px 5px;
}
/* line 351, scss/index.scss */
.ui-games-list li .middle {
  display: inline-block;
  width: 20%;
  text-align: center;
}
/* line 356, scss/index.scss */
.ui-games-list li .middle i {
  font-size: 1.3em;
  line-height: 1em;
  cursor: pointer;
}
/* line 362, scss/index.scss */
.ui-games-list li .middle .small {
  width: 15%;
  min-width: 18px;
  text-align: center;
  margin: 0px 5%;
}

/* line 372, scss/index.scss */
.ui-message-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 9998;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
/* line 383, scss/index.scss */
.ui-message-background.hidden {
  display: none;
}

/* line 388, scss/index.scss */
.ui-message-box {
  position: fixed;
  top: -400px;
  width: 280px;
  padding: 10px;
  left: -webkit-calc(50% - 160px);
  left: -moz-calc(50% - 160px);
  left: -o-calc(50% - 160px);
  left: calc(50% - 160px);
  background: #212121;
  color: #fff;
  z-index: 9999;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  -webkit-transition: all 1.3s ease-out;
  -moz-transition: all 1.3s ease-out;
  -o-transition: all 1.3s ease-out;
  transition: all 1.3s ease-out;
}

/* line 401, scss/index.scss */
.ui-message-close {
  font-size: 20px;
  line-height: 20px;
  cursor: pointer;
}

/* line 407, scss/index.scss */
.faux-row {
  padding: 5px;
  display: block;
}
/* line 411, scss/index.scss */
.faux-row input[type="text"], .faux-row input[type="password"] {
  margin: 5px 15px;
}

/* line 417, scss/index.scss */
input[type="text"], input[type="password"] {
  padding: 10px 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight: 400;
}

/* line 425, scss/index.scss */
#main-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 60px;
  background: #212121;
  color: #fff;
  z-index: 1000;
  -webkit-box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px;
  -moz-box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 2px;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
/* line 440, scss/index.scss */
#main-nav.full {
  width: 13%;
  min-width: 190px;
  max-width: 320px;
}
/* line 446, scss/index.scss */
#main-nav #login-area {
  position: absolute;
  padding: 10px;
  width: 260px;
  height: auto;
  background: #212121;
  right: -290px;
  top: 128px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  -moz-box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 0px 2px;
  color: #fff;
}
/* line 457, scss/index.scss */
#main-nav #login-area h5 {
  padding: 5px 10px;
}
/* line 463, scss/index.scss */
#main-nav [data-menu] {
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
/* line 466, scss/index.scss */
#main-nav [data-menu].hidden {
  oapcity: 0;
}
/* line 471, scss/index.scss */
#main-nav #logo {
  position: relative;
  padding: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
}
/* line 479, scss/index.scss */
#main-nav ul {
  position: relative;
  margin: 0px;
  padding: 0px;
  list-style: none;
  overflow: hidden;
}
/* line 487, scss/index.scss */
#main-nav ul li {
  margin: 0px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 0px;
  box-shadow: rgba(0, 0, 0, 0.9) 0px 1px 0px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
  margin-bottom: 1px;
  display: block;
  white-space: nowrap;
}
/* line 496, scss/index.scss */
#main-nav ul li:hover:not(.spacer) {
  background: #444;
}
/* line 500, scss/index.scss */
#main-nav ul li h2 {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 15px;
  text-align: left;
  font-size: 18px;
  line-height: 32px;
  letter-spacing: 1px;
  text-transform: none;
  cursor: pointer;
  font-weight: 300;
}
/* line 512, scss/index.scss */
#main-nav ul li h2 i {
  -webkit-transition: all, 0.6s ease;
  -moz-transition: all, 0.6s ease;
  -o-transition: all, 0.6s ease;
  transition: all, 0.6s ease;
  font-size: 30px;
  line-height: 30px;
  vertical-align: middle;
}
/* line 519, scss/index.scss */
#main-nav ul li h2 i:not(.fa-bars) {
  padding-right: 20px;
}
