@import "functions";

$orange: #DD4B39;
$lightblue: #7EC8EE;
$yellow: #F7E777;
$green: #7AFF88;
$red: #f12a27;

BODY {
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  font-size: 100%;
  line-height: 1.2em;
  color: #212121;
  @include zero;

  @include respondTo(desktop) { font-size: 100%; }
  @include respondTo(retina) { font-size: 105%; }
  @include respondTo(tablet) { font-size: 85%; }
  @include respondTo(smallScreen) { font-size: 95%; }
  @include respondTo(laptop) { font-size: 90%; }
  @include respondTo(smartphone) { font-size: 85%; }

}

DIV	{
  @include zero;
}

A	{
  //text-decoration:none;
  color: inherit;
}

H1,H2,H3,H4,H5,H6{
  font-family: 'Quicksand', sans-serif;
  text-transform:uppercase;
  font-weight:700;
  padding:0;
  margin:0;
  behavior: url('./PIE.htc');
}

H1{font-size:2.8em;line-height:1em;letter-spacing: 4px;}
H2{font-size:2.4em;line-height:1em;letter-spacing: 4px;}
H3{font-size:2.0em;line-height:1em;letter-spacing: 3px;}
H4{font-size:1.8em;line-height:1em;letter-spacing: 3px;}
H5{font-size:1.3em;line-height:1em;letter-spacing: 2px;}
H6{font-size:1.0em;line-height:1em;letter-spacing: 0px;display:inline-block;}

.clear-fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
/* IE Mac/Win fixes below */
.clear-fix {
  display: inline-block; /* For IE/Mac */
}
/* Hides from IE/Mac \*/
* html .clear-fix { height: 1%; }
.clear-fix { display: block; }
/* End hide from IE/Mac */

.float-right{
  float:right;
}

.float-left{
  float:left;
}

.aligncenter{
  text-align: center;
}

.alignright{
  text-align: right;
}

.alignleft{
  text-align: left;
}

.hidden{
  opacity:0;
  display:none;
}

.ui-mini-screen{
  width:80%;
  background:#222;
  color:#fff;
  position:relative;
  display:inline-block;
  white-space: nowrap;

  .current-title{
    position:absolute;
    top:2%;
    left:2%;
  }

  .last-title{
    position:absolute;
    top:2%;
    right:2%;
  }

  .current-data{
    display:inline-block;
    padding:20% 16%;
    border-right: 1px solid rgba(#fff, 0.2);
  }

  .last-data{
    display:inline-block;
    padding:20% 16%;
  }
}

#debug{
  position: fixed;
  top: 0px;
  right: 0px;
  padding:20px;
  font-size:10px;
  font-weight: 300;
  line-height: 12px;
  color:#000;
  z-index: 2001;
  background: rgba(#fff, 0.6);
  display:inline-block;
}

#perChart{
  min-height:400px;
}

[data-rival-id]{
  cursor:pointer;
  padding:5px;
  vertical-align: middle;
}

.ui-rank-list{
  list-style: none;
  padding:0;
  margin:0;

  .title{
    font-weight:700;
  }

  .highlight{
    background:#fff;
    color:#222;
  }

  .rival{
    background:rgba(250,40,40,0.7);
    color:#fff;
  }

  li{
    display:block;
    margin:0;
    padding:1.7%;
    white-space: nowrap;

    .width-40{
      width:45%;
      display: inline-block;
      vertical-align: top;
      overflow:hidden;
    }

    .width-5{
      width:5%;
      display: inline-block;
      vertical-align: top;
    }

    .width-20{
      width:19%;
      display: inline-block;
      vertical-align: top;
    }

    .width-25{
      width:25%;
      display: inline-block;
      vertical-align: top;
    }

    .width-50{
      width:48%;
      display: inline-block;
      vertical-align: top;
    }

    .width-70{
      width: 68%;
      display:inline-block;
      vertical-align: top;
    }
  }
}

[data-link]{
  cursor: pointer;
}

#pick-clock{
  padding:15px;
  position: absolute;
  left: 100px;
  min-width:200px;
  width:auto;
  background:#222;
  color:#fff;
  top:0px;
  height:auto;
  z-index:1000;
  text-align: center;
  white-space: nowrap;
  display:inline-block;

  &.index{
    min-width:200px;
    left: 20px;
    right: auto;
  }

  div{
    display:inline-block;
    white-space: nowrap;
  }

  .sep{
    height:20px;
    border-right: 1px solid #fff;
    vertical-align: middle;
    margin: 0px 10px;
    width:1px;
  }
}

.ui-spacer-item{
  display:inline-block;
  padding:0.5% 1.5%;
  margin: 0.5% 1.5%;
  font-size:1em;
  font-weight:400;
  vertical-align: middle;

  &.large{
    font-size:1.9em;
  }
}

.ui-super{
  vertical-align: super;
  font-size:0.5em;
  font-weight:400;
}

.ui-legend-item{

  display:inline-block;
  margin: 0.5% 1%;
  padding:0.5% 1%;
  font-size:1em;
  font-weight:400;
  vertical-align: middle;
  border-radius: 3px;
  line-height:1.5em;
  border: 3px solid #fff;
  behavior: url('./PIE.htc');

  i{
    font-size:1.5em;
    line-height:1.5em;
  }

}

.ui-button{

  color:#fff;
  background: #222;
  font-family: 'Roboto', sans-serif;
  text-transform:uppercase;
  font-weight:700;
  font-size:11px;
  line-height:12px;

  border-radius:3px;
  border:2px solid rgba(255,255,255,0.7);

  margin:0px 5px;
  padding: 10px 15px;
  outline:none;
  cursor: pointer;
  behavior: url('./PIE.htc');

  &:hover{
    @include box-shadow(rgba(#fff,0.6) 0px 0px 2px);
    border:2px solid rgba(255,255,255,1);
    behavior: url('./PIE.htc');
  }

  &:active{
    @include box-shadow(rgba(#fff,0.6) 0px 0px 3px);
    border:2px solid rgba(255,255,255,0.5);
    behavior: url('./PIE.htc');
  }

  &.large{
    font-size:16px;
    line-height:12px;
    padding: 15px 20px;
    font-weight:400;
  }

  &.dark{
    color:#fff;
    background: #222;
    border:2px solid rgba(#444,1);

    &:hover{
      @include box-shadow(rgba(#000,0.9) 0px 0px 5px);
      border-bottom:2px solid rgba(#000,1);
      behavior: url('./PIE.htc');
    }

    &:active{
      @include box-shadow(rgba(#000,0.9) 0px 0px 2px);
      border-bottom:2px solid rgba(#222,1);
      behavior: url('./PIE.htc');
    }
  }
}

#content-area{
  height:auto;
  margin:0;
  margin-left:60px;
  padding:0px;
  position: relative;
  width:auto;
  display:block;
  color: #212121;
  min-width:500px;

  .first{
    margin-top:40px !important;
  }

  #changeBox{
    color:#f12a27;
    padding:3%;
    margin: 1% 2.5%;
    border:2px solid #f12a27;
    border-radius: 3px;
    display:inline-block;
    visibility: visible;
    behavior: url('./PIE.htc');
  }

  .remaining{
    b{
      padding: 0px 3px;
    }
  }

  .intro-word-con{
    margin-top:2%;
    margin-left:2%;
  }

  .intro-word{
    padding:20px 30px;
    font-size:3em;
    line-height:1em;
    background:#212121;
    color:#fff;
    display:inline-block;
    font-family: 'Quicksand', sans-serif;
    text-transform:uppercase;
    font-weight:400;
    letter-spacing: 4px;
    margin-bottom:15%;
    white-space: nowrap;
    //@include box-shadow(rgba(#000,0.9) 0px 0px 2px);
    @include text-shadow(#000 0px 0px 2px);
    behavior: url('./PIE.htc');
  }

  .intro-word-small{
    padding:20px 30px;
    font-size:1.2em;
    line-height:1em;
    background:#212121;
    color:#fff;
    display:inline-block;
    font-family: 'Quicksand', sans-serif;

    font-weight:400;
    letter-spacing: 0px;
    margin-bottom:10%;
    width:80%;
    //@include box-shadow(rgba(#000,0.9) 0px 0px 2px);
    @include text-shadow(#000 0px 0px 2px);
    behavior: url('./PIE.htc');

    a{
      text-decoration: none;
    }
  }

  .fluid-row{
    margin:0;
    position: relative;
    padding:22px 1%;
    display:block;
    width:auto;
    z-index: 10;

    &.error{
      background:#F33;
      color:#fff;
      font-weight:700;
    }

    &.slim{
      padding:11px 1%;
    }

    &.dark{
      color:#fff;
      background: #212121;
    }

    &.secondary{

      &.fixed{
        position: fixed;
        right:0;
        top:0;

        @include respondTo(smallScreen) {
          display:none;
        }

        @include respondTo(tablet) {
          display:none;
        }

        @include respondTo(smartphone) {
          display:none;
        }
      }

    }

    &.width-90{
      @include calc(width, "80%");
      display:inline-block;
      vertical-align: top;

      &.full{
        width:auto;
        @include calc(min-width, "85%");
      }
    }

    &.width-60{
      width: 65%;
      display:inline-block;
      vertical-align: top;
    }

    &.width-30{
      width: 30%;
      display:inline-block;
      vertical-align: top;
    }

    &.width-45{
      width: 45%;
      display:inline-block;
      vertical-align: top;

      @include respondTo(smartphone) {
        width:auto;
        display:block;
        float:none;
      }
    }

    &.width-50{
      @include calc(width, "47.3%");
      display:inline-block;
      vertical-align: top;

      @include respondTo(smallScreen) {
        width:auto;
        display:block;
        float:none;
      }

      @include respondTo(tablet) {
        width:auto;
        display:block;
        float:none;
      }

      @include respondTo(smartphone) {
        width:auto;
        display:block;
        float:none;
      }
    }

    &.over-90{
      @include respondTo(smallScreen) {
        width:auto;
        display:block;
        float:none;
      }

      @include respondTo(tablet) {
        width:auto;
        display:block;
        float:none;
      }

      @include respondTo(smartphone) {
        width:auto;
        display:block;
        float:none;
      }
    }
  }

  p.number{
    font-size: 2.5em;
    line-height: 1em;
    font-weight:500;
    padding:0;
    margin:5px 0px;
  }

  p.desc{
    font-size: 1.6em;
    line-height: 1em;
    font-weight:300;
    padding:0;
    margin:5px 0px;
  }

  p.c-right{
    font-size: 0.75em;
    line-height: 1.3em;
    font-weight:300;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding:0;
    margin:5px 0px;
  }


  .scale-img{
    max-width: 90%;
    height:auto;
    margin:2% 2%;
    display: inline-block;
  }
}

#logo-banner{
  width:60%;
  min-width:200px;
  max-width:500px;
  margin-top:5%;
}

[data-trans-for]{
  cursor:pointer;
}

[data-bad-value="true"]{
  @include box-shadow(red 0px 1px 10px);
  border: 3px solid red;
  border-radius: 3px;
  behavior: url('./PIE.htc');
}

.team-small{
  background: #222;
  color: #fff;
  display:inline-block;
  margin: 15px 10px;
  position: relative;
  text-align: left;
  width: 45%;
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center left;


  .gradient-left{
    padding: 8%;
    width:auto;
    display:block;
    height:80%;
    @include background-image(linear-gradient(left, rgba(#111,0.6) 0%, #222 90%));
    white-space: nowrap;
    behavior: url('./PIE.htc');

    &:hover{
      @include text-shadow(yellow 0px 1px 5px);
      behavior: url('./PIE.htc');
    }
  }

  .team{
    width: 47%;
    display:inline-block;
    vertical-align: top;
    @include text-shadow(#000 0px 0px 2px);
    behavior: url('./PIE.htc');

    h5{
      font-weight:600;
      font-size:1.15em;
    }

    h6{
      font-weight:400;
      line-height: 1.8em;
    }
  }

  .team-stats{
    width: 47%;
    display:inline-block;
    vertical-align: top;
    margin-right:-3%;
    margin-left:3%;

    h6{
      font-weight:400;
      font-size:1.05em;
      line-height: 1.4em;
      display:block;
    }
  }
}

.team-large{
  @extend .team-small;

  display:block;
  width:auto;

  &:not(.btn-droppable){
    &:not(.ui-draggable-disabled){
      cursor:move;
    }
  }

  &.disabled{
    color:#555;

    h3{
      text-decoration: line-through;
    }
    h2{
      text-decoration: line-through;
    }
    h1{
      text-decoration: line-through;
    }
  }

  .team-stats{
    h6{
      font-weight:400;
      font-size:0.8em;
      line-height: 1.4em;
      display:block;
    }
  }
}

.team-assign{
  @extend .team-small;


  display:block;
  width:100%;
  position: absolute !important;
  top:0;
  left:0;
  z-index:1000;
  margin:0;
  max-height:200px;

  &:not(.ui-draggable-disabled){
    cursor:move;
  }
}

.playoff-row{
  margin:0;
  position: relative;
  padding:11px 1%;
  display:block;
  width:auto;
  z-index: 1;
  min-height:1000px;

  &.width-50{
    width: 47.5%;
    display:inline-block;
    vertical-align: top;
  }

  &.width-65{
    width: 65%;
    display:inline-block;
  }
}

.ui-games-list{
  padding:0;
  margin:0;
  list-style: none;

  li{
    background: #222;
    color: #fff;
    display:block;
    width:90%;
    margin: 15px 10px;
    position: relative;
    text-align: left;

    .loss{
      text-decoration: line-through;

      h5{
        text-decoration: line-through;
      }

      h6{
        text-decoration: line-through !important;
      }
    }

    &.full{
      width:auto;
    }

    .team{
      background-repeat: no-repeat;
      background-size: 80%;
      width: 34%;
      display:inline-block;
      vertical-align: middle;
      @include text-shadow(#000 0px 0px 2px);
      cursor:pointer;
      behavior: url('./PIE.htc');

      h5{
        font-weight:400;
      }

      h6{
        font-weight:400;
        line-height: 1.8em;
      }

      &.alignleft{
        background-position: center left;
      }

      &.picked{
        @include text-shadow(#000 0px 0px 5px);
        behavior: url('./PIE.htc');

        h5{
          font-weight:400;
          font-size: 1.5em;
        }

        h6{
          font-weight:700;
          font-size: 1.8em;
          line-height: 1em;
        }

        .gradient-left{
          @include background-image(linear-gradient(left, rgba(#444,0.6) 0%, rgba(#222,0.7) 100%));
          behavior: url('./PIE.htc');
        }

        .gradient-right{
          @include background-image(linear-gradient(right, rgba(#444,0.6) 0%, rgba(#222,0.7) 100%));
          behavior: url('./PIE.htc');
        }
      }

      .gradient-left{
        padding:8% 8%;
        width:auto;
        display:block;
        height:80%;
        @include background-image(linear-gradient(left, rgba(#111,0.9) 0%, #222 90%));
        white-space: nowrap;
        behavior: url('./PIE.htc');

        &:hover{
          @include text-shadow(yellow 0px 1px 5px);
          behavior: url('./PIE.htc');
        }
      }

      &.alignright{
        background-position: center right;
      }

      .gradient-right{
        padding:8% 8%;
        width:auto;
        display:block;
        height:80%;
        @include background-image(linear-gradient(right, rgba(#111,0.9) 0%, #222 90%));
        white-space: nowrap;
        behavior: url('./PIE.htc');

        &:hover{
          @include text-shadow(yellow 0px 1px 5px);
          behavior: url('./PIE.htc');
        }
      }
    }

    .display-date{
      position: absolute;
      right:-60px;
      top:25%;
      color:#222;
      width:50px;
      height:50%;
    }

    .middle{
      display:inline-block;
      width:30%;
      text-align: center;
      vertical-align: middle;
      white-space: nowrap;
      position: relative;

      i{
        position: relative;
        z-index:100;
        font-size:1.5em;
        line-height:1em;
        cursor:pointer;
        padding: 8%;
        font-style: normal;
      }

      .small{
        width:15%;
        min-width:18px;
        text-align: center;
        margin:0px 5%;
      }
    }
  }
}

.ui-globalpicks{
  width: 100%;

  tr{
    th{
      font-weight:600;
      padding:8px 6px;
      cursor:pointer;

      i{
        color:#444;
      }
    }

    td{
      border: 1px solid rgba(180,180,180,0.6);
      padding: 0.7%;
      font-weight:300;
      white-space: nowrap;
      font-size:1.2em;

      &.username{
        font-weight:500;
        table-layout: fixed;
        overflow:hidden;
      }

      small{
        font-weight:400;
        font-size: 0.7em;
        line-height:1em;
        color: #222;

        b{
          font-weight:700;
        }
      }
    }

    &.selected{
      td{
        @include box-shadow(rgba(100,255,0,0.4) 0px 0px 3px inset);
        border: 1px solid rgba(100,255,0, 0.3);
        behavior: url('./PIE.htc');
      }
    }

    &.rival{
      td{
        @include box-shadow(rgba(255,30,30,0.6) 0px 0px 3px inset);
        border: 1px solid rgba(255,30,30, 0.6);
        behavior: url('./PIE.htc');
      }
    }

    &.a{

      td{
        background:rgba(#333, 0.2);
      }
    }
  }
}

.ui-message-background{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(#fff, 1);
  z-index:9998;
  opacity:0;
  display:none;
  behavior: url('./PIE.htc');
}

.ui-message-box{
  position: fixed;
  top:-400px;
  width:280px;
  padding:10px;
  @include calc(left, "50% - 160px");
  background:#212121;
  color:#fff;
  z-index:9999;
  @include box-shadow(rgba(#000,0.6) 0px 0px 2px);
  behavior: url('./PIE.htc');
}

.ui-message-close{
  font-size:20px;
  line-height:20px;
  cursor:pointer;
}

.faux-row{
  padding: 5px;
  display:block;

  input[type="text"], input[type="password"]{
    margin: 5px 15px;
  }

}

input[type="text"], input[type="password"]{
  padding:10px 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight:400;
  border: 2px solid #222;
  border-radius: 3px;
  behavior: url('./PIE.htc');

  &[name="username"]{
    margin-top:15px;
  }
}

.settings{
  label{
    position:absolute;
    top: 28%;
    left: 5%;
  }
}

label{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 26px;
  font-weight:400;
  vertical-align: top;
}

select{
  padding:8px 15px;
  border: 2px solid #222;
  border-radius: 3px;
  behavior: url('./PIE.htc');
}

select, option{
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight:400;
}

option{
  padding:5px 10px;
}

#login-area{
  padding: 3% 2%;
  width:260px;
  height:auto;
  background:#212121;
  color:#fff;
  display:inline-block;
}

#main-nav{
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  height:100%;
  margin:0;
  padding:0;
  width:60px;
  background:#212121;
  color:#fff;
  z-index:1000;
  @include box-shadow(rgba(#fff,0.2) 0px 0px 2px);
  @include transition(all 0.6s ease);
  behavior: url('./PIE.htc');

  @include respondTo(smallScreen) {
    position: absolute;
  }

  @include respondTo(tablet) {
    position: absolute;
  }

  @include respondTo(smartphone) {
    position: absolute;
  }

  a{
    text-decoration: none;
  }


  &.full{
    width:13%;
    min-width:190px;
    max-width:320px;
  }

  [data-menu]{
    @include transition(all 0.2s ease);
    behavior: url('./PIE.htc');

    &.hidden{
      oapcity:0;
    }
  }

  #logo{
    position:relative;
    padding:10px;
    width:40px;
    height:40px;
    text-align: center;
  }

  ul{

    position:relative;
    margin:0px;
    padding:0px;
    list-style: none;
    overflow: hidden;

    li{
      margin:0px;
      @include box-shadow(rgba(0,0,0,0.9) 0px 1px 0px);
      border-top:1px solid #333;
      border-bottom:1px solid #333;
      margin-bottom:1px;
      display:block;
      white-space: nowrap;
      behavior: url('./PIE.htc');

      &:hover:not(.spacer){
        background:#444;
      }

      h2{
        font-family: "Roboto", sans-serif;
        margin:0px;
        padding:15px;
        text-align: left;
        font-size:18px;
        line-height:32px;
        letter-spacing: 1px;
        text-transform: none;
        cursor:pointer;
        font-weight:300;

        i{
          @include transition(all, 0.6s ease);
          font-size:30px;
          line-height:30px;
          vertical-align: middle;
          behavior: url('./PIE.htc');
        }

        i:not(.fa-bars){
          padding-right:20px;
        }
      }
    }
  }

}