@import "functions";

@import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700);
@import url(http://fonts.googleapis.com/css?family=Quicksand:300,400,700);

$orange: #DD4B39;
$lightblue: #7EC8EE;
$yellow: #F7E777;
$green: #7AFF88;
$red: #f12a27;

BODY {
  font-family: 'Roboto', sans-serif;
  font-weight:300;
  font-size: 100%;
  line-height: 1.2em;
  color: #212121;
  @include zero;

  @include respondTo(desktop) { font-size: 100%; }
  @include respondTo(retina) { font-size: 135%; }
  @include respondTo(tablet) { font-size: 70%; }
  @include respondTo(smallScreen) { font-size: 80%; }
  @include respondTo(laptop) { font-size: 80%; }
  @include respondTo(smartphone) { font-size: 50%; }

}

DIV	{
  @include zero;
}

A	{
  text-decoration:none;
  color: inherit;
}

H1,H2,H3,H4,H5,H6{
  font-family: 'Quicksand', sans-serif;
  text-transform:uppercase;
  font-weight:700;
  padding:0;
  margin:0;
}

H1{font-size:48px;line-height:58px;letter-spacing: 4px;}
H2{font-size:36px;line-height:48px;letter-spacing: 4px;}
H3{font-size:30px;line-height:40px;letter-spacing: 3px;}
H4{font-size:26px;line-height:34px;letter-spacing: 3px;}
H5{font-size:20px;line-height:28px;letter-spacing: 2px;}
H6{font-size:16px;line-height:24px;letter-spacing: 0px;display:inline-block;}

.clear-fix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  font-size: 0;
}
/* IE Mac/Win fixes below */
.clear-fix {
  display: inline-block; /* For IE/Mac */
}
/* Hides from IE/Mac \*/
* html .clear-fix { height: 1%; }
.clear-fix { display: block; }
/* End hide from IE/Mac */

.float-right{
  float:right;
}

.float-left{
  float:left;
}

.aligncenter{
  text-align: center;
}

.alignright{
  text-align: right;
}

.alignleft{
  text-align: left;
}

.hidden{
  opacity:0;
  display:none;
}

.ui-button{

  color:#fff;
  background: rgba(#222,0.3);
  font-family: 'Roboto', sans-serif;
  text-transform:uppercase;
  font-weight:700;
  font-size:11px;
  line-height:12px;

  @include border-radius(3px);
  border:2px solid rgba(255,255,255,0.7);

  margin:0px 5px;
  padding: 10px 15px;
  outline:none;
  cursor: pointer;

  &:hover{
    @include box-shadow(rgba(#fff,0.6) 0px 0px 2px);
    border:2px solid rgba(255,255,255,1);
  }

  &:active{
    @include box-shadow(rgba(#fff,0.6) 0px 0px 3px);
    border:2px solid rgba(255,255,255,0.5);
  }

  &.dark{
    color:#fff;
    background: rgba(#222,0.9);
    border:2px solid rgba(#444,0.7);

    &:hover{
      @include box-shadow(rgba(#000,0.9) 0px 0px 5px);
      border-bottom:2px solid rgba(#000,1);
    }

    &:active{
      @include box-shadow(rgba(#000,0.9) 0px 0px 2px);
      border-bottom:2px solid rgba(#222,1);
    }
  }
}

#content-area{
  height:auto;
  margin:0;
  margin-left:60px;
  padding:0px;
  position: relative;
  width:auto;
  display:block;
  color: #212121;

  .intro-word-con{
    margin-top:20%;
    margin-left:30%;
  }

  .intro-word{
    padding:20px 30px;
    font-size:3em;
    line-height:1em;
    background:#212121;
    color:#fff;
    display:inline-block;
    font-family: 'Quicksand', sans-serif;
    text-transform:uppercase;
    font-weight:400;
    letter-spacing: 4px;
    margin-bottom:15%;
    white-space: nowrap;
  }

  .fluid-row{
    margin:0;
    position: relative;
    padding:22px 33px;
    display:block;
    width:auto;
    z-index: 10;

    &.slim{
      padding:11px 33px;
    }

    &.dark{
      color:#fff;
      background: #212121;
    }

    &.width-90{
      @include calc(width, "80%");
      display:inline-block;
      vertical-align: top;
    }

    &.width-50{
      @include calc(width, "49% - 96px");
      display:inline-block;
      vertical-align: top;

      @include respondTo(smallScreen) {
        width:auto;
        display:block;
      }

      @include respondTo(tablet) {
        width:auto;
        display:block;
      }

      @include respondTo(smartphone) {
        width:auto;
        display:block;
      }
    }
  }


  p.number{
    font-size: 2.5em;
    line-height: 1em;
    font-weight:500;
    padding:0;
    margin:5px 0px;
  }

  p.desc{
    font-size: 1.6em;
    line-height: 1em;
    font-weight:300;
    padding:0;
    margin:5px 0px;
  }

  p.c-right{
    font-size: 0.75em;
    line-height: 1.3em;
    font-weight:300;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding:0;
    margin:5px 0px;
  }

  #logo-banner{
    width:50%;
    min-width:200px;
    max-width:500px;
    margin-top:5%;
  }

  .scale-img{
    max-width: 90%;
    height:auto;
    margin:2% 2%;
    display: inline-block;
  }
}

[data-trans-for]{
  cursor:pointer;
}

[data-bad-value="true"]{
  @include box-shadow(red 0px 1px 10px);
  border: 2px solid red;
}

.ui-games-list{
  padding:0;
  margin:0;
  list-style: none;

  li{
    background: #222;
    color: #fff;
    display:block;
    width:auto;
    margin: 10px;

    .team{
      background-repeat: no-repeat;
      background-size: 80%;
      //@include calc(width, "36%");
      width: 39%;
      display:inline-block;
      vertical-align: middle;
      @include text-shadow(#000 0px 1px 5px);
      cursor:pointer;

      h5{
        font-weight:400;
      }

      h6{
        font-weight:400;
      }

      &.alignleft{
        background-position: center left;
      }

      &.picked{
        @include text-shadow(green 0px 2px 7px);

        h5{
          font-weight:700;
        }

        h6{
          font-weight:700;
        }

        .gradient-left{
          @include background-image(linear-gradient(left, rgba(#222,0.5) 0%, #222 100%));
        }

        .gradient-right{
          @include background-image(linear-gradient(right, rgba(#222,0.5) 0%, #222 100%));
        }
      }

      .gradient-left{
        padding:8%;
        width:auto;
        display:block;
        height:80%;
        @include background-image(linear-gradient(left, rgba(#222,0.7) 0%, #222 80%));
        white-space: nowrap;

        &:hover{
          @include text-shadow(yellow 0px 1px 5px);
        }
      }

      &.alignright{
        background-position: center right;
      }

      .gradient-right{
        padding:8%;
        width:auto;
        display:block;
        height:80%;
        @include background-image(linear-gradient(right, rgba(#222,0.7) 0%, #222 80%));
        white-space: nowrap;

        &:hover{
          @include text-shadow(yellow 0px 1px 5px);
        }
      }
    }

    .middle{
      display:inline-block;
      width:20%;
      text-align: center;

      i{
        font-size:1.3em;
        line-height:1em;
        cursor:pointer;
      }

      .small{
        width:15%;
        min-width:18px;
        text-align: center;
        margin:0px 5%;
      }
    }
  }
}

.ui-message-background{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(#fff, 0.7);
  z-index:9998;
  opacity:0;
  @include transition(opacity 0.3s ease);

  &.hidden{
    display:none;
  }
}

.ui-message-box{
  position: fixed;
  top:-400px;
  width:280px;
  padding:10px;
  @include calc(left, "50% - 160px");
  background:#212121;
  color:#fff;
  z-index:9999;
  @include box-shadow(rgba(#000,0.6) 0px 0px 2px);
  @include transition(all 1.3s ease-out);
}

.ui-message-close{
  font-size:20px;
  line-height:20px;
  cursor:pointer;
}

.faux-row{
  padding: 5px;
  display:block;

  input[type="text"], input[type="password"]{
    margin: 5px 15px;
  }

}

input[type="text"], input[type="password"]{
  padding:10px 15px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 15px;
  font-weight:400
}

#main-nav{
  position: fixed;
  left:0;
  top:0;
  bottom:0;
  height:100%;
  margin:0;
  padding:0;
  width:60px;
  background:#212121;
  color:#fff;
  z-index:1000;
  @include box-shadow(rgba(#fff,0.2) 0px 0px 2px);
  @include transition(all 0.6s ease);

  &.full{
    width:13%;
    min-width:190px;
    max-width:320px;
  }

  #login-area{
    position:absolute;
    padding:10px;
    width:260px;
    height:auto;
    background:#212121;
    right:-290px;
    top:128px;
    @include box-shadow(rgba(#000,0.6) 0px 0px 2px);
    color:#fff;

    h5{
      padding:5px 10px;
    }

  }

  [data-menu]{
    @include transition(all 0.2s ease);

    &.hidden{
      oapcity:0;
    }
  }

  #logo{
    position:relative;
    padding:10px;
    width:40px;
    height:40px;
    text-align: center;
  }

  ul{

    position:relative;
    margin:0px;
    padding:0px;
    list-style: none;
    overflow: hidden;

    li{
      margin:0px;
      @include box-shadow(rgba(0,0,0,0.9) 0px 1px 0px);
      border-top:1px solid #333;
      border-bottom:1px solid #333;
      margin-bottom:1px;
      display:block;
      white-space: nowrap;

      &:hover:not(.spacer){
        background:#444;
      }

      h2{
        font-family: "Roboto", sans-serif;
        margin:0px;
        padding:15px;
        text-align: left;
        font-size:18px;
        line-height:32px;
        letter-spacing: 1px;
        text-transform: none;
        cursor:pointer;
        font-weight:300;

        i{
          @include transition(all, 0.6s ease);
          font-size:30px;
          line-height:30px;
          vertical-align: middle;
        }

        i:not(.fa-bars){
          padding-right:20px;
        }
      }
    }
  }

}