@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600);
/* _functions.scss */
/* line 20, scss/style.scss */
HTML, BODY {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  line-height: 18px;
  background: #3d3d3d;
  color: #282828;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

/* line 30, scss/style.scss */
DIV {
  margin: 0;
  padding: 0;
}

/* line 34, scss/style.scss */
A {
  text-decoration: none;
  color: #43b1e2;
}

/* line 39, scss/style.scss */
H1, H6, H2, H3, H4, H5 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  padding: 0 5px;
  margin: 0;
  display: inline-block;
}

/* line 47, scss/style.scss */
.right {
  float: right;
}

/* line 51, scss/style.scss */
.left {
  float: left;
}

/* line 55, scss/style.scss */
H1 {
  font-size: 46px;
  line-height: 60px;
  color: #6e6e6e;
}

/* line 56, scss/style.scss */
H2 {
  font-size: 30px;
  line-height: 36px;
  color: #787878;
}

/* line 57, scss/style.scss */
H3 {
  font-size: 26px;
  line-height: 32px;
  color: #787878;
}

/* line 58, scss/style.scss */
H4 {
  font-size: 22px;
  line-height: 28px;
  color: #828282;
}

/* line 59, scss/style.scss */
H5 {
  font-size: 18px;
  line-height: 22px;
  color: #828282;
}

/* line 60, scss/style.scss */
H6 {
  font-size: 14px;
  line-height: 20px;
  color: #8c8c8c;
}

/* line 62, scss/style.scss */
#header {
  background: #1f1f1f;
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9995;
  overflow: visible;
  height: 32px;
  padding: 5px 20px;
}
/* line 74, scss/style.scss */
#header .con {
  vertical-align: middle;
  padding-top: 5px;
}
/* line 79, scss/style.scss */
#header a {
  color: white;
}
/* line 83, scss/style.scss */
#header h3 {
  font-size: 20px;
  line-height: 32px;
  text-transform: uppercase;
  display: inline-block;
  color: white;
}

/* line 92, scss/style.scss */
#menu {
  background: #3d3d3d;
  height: auto !important;
  overflow: visible !important;
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 225px;
  color: #fff;
  position: absolute;
  z-index: 1;
}
/* line 104, scss/style.scss */
#menu a {
  color: #fff;
}
/* line 108, scss/style.scss */
#menu .menu-item {
  width: auto;
  padding: 15px 20px;
  padding-right: 0;
  font-size: 14px;
  display: block;
  line-height: 14px;
  cursor: pointer;
}
/* line 119, scss/style.scss */
#menu .menu-item i {
  padding-right: 10px;
  font-size: 18px;
  line-height: 18px;
  vertical-align: middle;
}
/* line 126, scss/style.scss */
#menu .menu-item .arrow {
  opacity: 0;
  margin-top: -4px;
}
/* line 131, scss/style.scss */
#menu .menu-item:hover {
  background: #fff;
  color: #000;
}
/* line 137, scss/style.scss */
#menu .selected {
  background: #e02222;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px, rgba(0, 0, 0, 0.1) 0px 2px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px;
  -moz-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px, rgba(0, 0, 0, 0.1) 0px 2px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 0px, rgba(0, 0, 0, 0.1) 0px 2px 0px, rgba(0, 0, 0, 0.2) 0px -1px 0px;
}
/* line 141, scss/style.scss */
#menu .selected .arrow {
  opacity: 1;
}

/* line 147, scss/style.scss */
[sel] {
  -webkit-box-shadow: rgba(100, 255, 0, 0.5) 0px 0px 10px inset, rgba(0, 0, 0, 0.8) 0px 1px 5px;
  -moz-box-shadow: rgba(100, 255, 0, 0.5) 0px 0px 10px inset, rgba(0, 0, 0, 0.8) 0px 1px 5px;
  box-shadow: rgba(100, 255, 0, 0.5) 0px 0px 10px inset, rgba(0, 0, 0, 0.8) 0px 1px 5px;
}

/* line 151, scss/style.scss */
.fluid {
  margin: 0px;
  padding: 0px;
}

/* line 156, scss/style.scss */
.page-content {
  margin-top: 42px;
  z-index: 0;
}

/* line 161, scss/style.scss */
#content {
  background: white;
  width: auto;
  margin: 0;
  padding-left: 20px;
  padding-right: 20px;
  height: auto;
  display: block;
  position: relative;
  margin-left: 225px;
  min-height: 900px;
  overflow: hidden;
  padding-bottom: 20px;
}

/* line 176, scss/style.scss */
#fieldbody {
  position: absolute;
  left: 240px;
  top: 40px;
  z-index: 100;
  height: auto;
  width: auto;
  overflow: hidden;
}

/* line 188, scss/style.scss */
.fieldmessage {
  position: relative;
  display: block;
  left: 0px;
  top: -400px;
  z-index: 100;
  max-height: 300px;
  height: auto;
  width: auto;
  min-width: 200px;
  max-width: 350px;
  padding: 10px;
  color: #fff;
  background: #444;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(255, 255, 255, 0.7) 0px 1px 0px inset;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(255, 255, 255, 0.7) 0px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 3px, rgba(255, 255, 255, 0.7) 0px 1px 0px inset;
  -webkit-transition: all 1.3s ease;
  -moz-transition: all 1.3s ease;
  -o-transition: all 1.3s ease;
  transition: all 1.3s ease;
}

/* line 212, scss/style.scss */
table {
  width: 100%;
}
/* line 215, scss/style.scss */
table th {
  text-align: left;
  padding: 10px;
}
/* line 220, scss/style.scss */
table td {
  padding: 10px;
  white-space: nowrap;
  overflow: hidden;
}
/* line 226, scss/style.scss */
table tr {
  cursor: pointer;
}
/* line 230, scss/style.scss */
table tr.select td {
  background: #F33;
  color: #fff;
}
/* line 237, scss/style.scss */
table tr:hover td {
  background: #DDD;
}

/* line 244, scss/style.scss */
input[type=text], input[type=password], input[type=date] {
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  width: 400px;
  vertical-align: middle;
  margin: 10px 0px;
}

/* line 255, scss/style.scss */
select {
  margin: 0;
  padding: 10px;
  width: 422px;
  height: auto;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-right: -11px;
}

/* line 267, scss/style.scss */
label {
  padding: 10px;
  height: auto;
  font-family: 'Open Sans',sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 15px 0px;
}

/* line 277, scss/style.scss */
.invalid {
  color: #FF0000;
}

/* line 281, scss/style.scss */
.valid {
  color: #00CC33;
}

/* line 285, scss/style.scss */
.half-block {
  width: 500px;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  height: auto;
  max-height: 800px;
}
/* line 293, scss/style.scss */
.half-block i {
  font-size: 26px;
  line-height: 26px;
  vertical-align: middle;
  margin: 10px 20px;
  cursor: pointer;
  text-align: right;
}

/* line 303, scss/style.scss */
textarea {
  padding: 10px;
  font-family: 'Open Sans';
  font-size: 14px;
  min-width: 402px;
  min-height: 300px;
}

/* line 311, scss/style.scss */
.scrollme {
  width: 100%;
  height: 589px;
  display: block;
  padding: 0 !important;
}

/* line 318, scss/style.scss */
.mCSB_container {
  margin-right: 0px !important;
}

/* line 322, scss/style.scss */
.mCSB_draggerContainer {
  top: 10px !important;
  bottom: 10px !important;
}

/* line 327, scss/style.scss */
.full-block {
  width: 800px;
  display: inline-block;
  margin: 5px;
  vertical-align: top;
  height: auto;
  max-height: 700px;
}
/* line 335, scss/style.scss */
.full-block i {
  font-size: 26px;
  line-height: 26px;
  vertical-align: middle;
  margin: 10px 20px;
  cursor: pointer;
  text-align: right;
}

/* line 345, scss/style.scss */
.submit {
  padding: 12px 30px;
  border: 0px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 12px;
  color: #fff;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #40557e), color-stop(49.5%, #2c4169), color-stop(50%, #22375f), color-stop(100%, #20345b));
  background-image: -webkit-linear-gradient(#40557e 0%, #2c4169 49.5%, #22375f 50%, #20345b 100%);
  background-image: -moz-linear-gradient(#40557e 0%, #2c4169 49.5%, #22375f 50%, #20345b 100%);
  background-image: -o-linear-gradient(#40557e 0%, #2c4169 49.5%, #22375f 50%, #20345b 100%);
  background-image: linear-gradient(#40557e 0%, #2c4169 49.5%, #22375f 50%, #20345b 100%);
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 1px;
  margin-right: 20px;
}
/* line 357, scss/style.scss */
.submit:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px;
}
/* line 361, scss/style.scss */
.submit:active {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 1px;
}

/* line 366, scss/style.scss */
.page-row {
  padding: 20px 0px;
  white-space: nowrap;
}

/* line 371, scss/style.scss */
.task-area {
  padding: 10px 0px;
}

/* line 375, scss/style.scss */
.proposal {
  margin-top: 5px;
}
/* line 377, scss/style.scss */
.proposal .task-item {
  height: 200px;
  background: #852b99;
  color: #fff;
  font-size: 13px;
  padding: 0;
  margin-right: 15px;
  margin-top: 15px;
  width: 300px;
  display: inline-block;
}
/* line 388, scss/style.scss */
.proposal .task-item div {
  display: block;
}
/* line 392, scss/style.scss */
.proposal .task-item .title {
  width: auto;
  overflow: hidden;
  font-size: 36px;
  line-height: 36px;
  white-space: nowrap;
  padding: 10px;
}
/* line 401, scss/style.scss */
.proposal .task-item .desc {
  width: auto;
  overflow: hidden;
  height: 120px;
  padding: 10px;
}
/* line 408, scss/style.scss */
.proposal .task-item .lower {
  display: block;
  width: auto;
  padding: 10px;
  background: #751e88;
}
/* line 415, scss/style.scss */
.proposal .task-item .date {
  width: 46%;
  overflow: hidden;
  text-align: left;
  white-space: nowrap;
  display: inline-block;
}
/* line 423, scss/style.scss */
.proposal .task-item .actions {
  width: 50%;
  overflow: hidden;
  text-align: right;
  white-space: nowrap;
  display: inline-block;
}

/* line 434, scss/style.scss */
.project .task-item {
  height: 18px;
  background: #27a9e3;
  color: #fff;
  font-size: 13px;
  padding: 10px 15px;
  margin: 15px 0px;
  width: auto;
  display: block;
}
/* line 444, scss/style.scss */
.project .task-item div {
  display: inline-block;
}
/* line 448, scss/style.scss */
.project .task-item .title {
  width: 15%;
  overflow: hidden;
  padding-right: 15px;
  font-size: 18px;
  line-height: 18px;
  white-space: nowrap;
}
/* line 457, scss/style.scss */
.project .task-item .desc {
  width: 65%;
  overflow: hidden;
  padding-right: 15px;
  white-space: nowrap;
}
/* line 464, scss/style.scss */
.project .task-item .date {
  width: 5%;
  min-width: 120px;
  overflow: hidden;
  padding-right: 15px;
  text-align: right;
  white-space: nowrap;
}
/* line 473, scss/style.scss */
.project .task-item .actions {
  width: 5%;
  min-width: 120px;
  overflow: hidden;
  padding-left: 15px;
  text-align: right;
  white-space: nowrap;
}
/* line 483, scss/style.scss */
.project .closed {
  background: #2295c9;
  color: rgba(255, 255, 255, 0.8);
}
